<%include nav.ejs %>

<h3>
  Hello!
</h3>

<p>
  This app was created to complete the FCC challenge "manage-a-book-trading-club". More details can be located <a href='https://www.freecodecamp.org/challenges/manage-a-book-trading-club'>here</a>